<header class=" header-library">
    <div class="container">
        <div class="header-lib__container">
                <a class="header__logo" href="./index.html">
                    <svg class="header__icon" width="24" height="24">
                        <use href="./images/global-icons/symbol-defs.svg#icon-film"></use>
                    </svg>
                    <span class="header__text">Filmoteka</span>
                </a>
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link " href="./index.html">home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link header__link--current" href="./library.html">my library</a>
                    </li>
                </ul>
        </div>
        <!-- </div> -->
        <ul class="filter__list">
            <li class="filter__item">
                <button class="btn" type="button" data-action="watched">Watched</button>
            </li>
            <li class="filter__item">
                <button class="btn-secondary-header" type="button" data-action="queue">Queue</button>
            </li>
        </ul>
    </div>
</header>